[Unit]
Description=A job to test the systemd scheduler

[Service]
Type=simple
ExecStart=/home/pi/Documents/raspi/main.sh

[Install]
WantedBy=default.target
